:root {
    --general-text: #312c27;
    --accent-text: #1f1711;
    --general-bg: #fff9f4;
    --accent-bg: #ffe0cb;
    --accent-color: #FFA55C;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    background: var(--general-bg);
    color: var(--general-text);
    line-height: 1.5;
}

.wrapper {
    /* чтобы блочный элемент (сам врапер) растягивался полностью по вертикали*/
    min-height: 100%;
    /* всегда будет не больше и не меньше ширины экрана */
    width: 100%;
    /* если какой-то контент будет шире экрана, то он обрезается и горизонтальный скроллбар не появится */
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.main {
    /* будет растягивать хедер и футер к верху и низу */
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #312c27;
    background: var(--accent-color);
    border-radius: 60px;
    padding: 3px 15px;
    height: 62px;

    transition: all .4s;
}

.button:hover {
    background: #ff9138;
}

/* =================================== */

.header {
    /*  50% 100% - позиция (по середние, низ всегда виден)  */
    background: url("/img/decor/header-bg.png") 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

/* для расположения элементов */
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    max-width: 174px;
}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__link {
    position: relative;
    padding: 5px 0;
    display: block;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);

    /* для плавного перехода */
    opacity: 0;
    transition: all .4s;
}

.nav__link:hover::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);
    z-index: -1;

    opacity: 1;
}

/* ===================================== */
/* для отступов */
.hero {
    padding: 50px 0 150px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    line-height: 1.6;
    text-transform: uppercase;
    color: #b197b2;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    display: block;
    background: #b197b2;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 0 10px;
}

.hero__info span:last-child:after {
    /* то же что и display:none только для псевдоэлементов */
    content: none;
}

.hero__title {
    font-family: "Gabriola", sans-serif;
    font-size: 74px;
    line-height: 0.82;
    color: #1f1711;
    margin-bottom: 30px;
}

.hero__text {
    margin-bottom: 40px;
    max-width: 360px;
}

.hero__button {
    max-width: 360px;
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img-control {
    display: flex;
    position: absolute;
    align-items: center;
    gap: 10px;
    max-width: 205px;
    width: 100%;
    left: calc(100% - 39px);
    bottom: 11%;
}

.hero__img-button {
    border-radius: 50%;
    background: #ffe0cb;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    width: 80px;
    height: 80px;
    /* чтобы не сплющивалась */
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.hero__img-button img {
    padding-left: 8.8%;
}

.hero__img-button::before {
    content: '';
    position: absolute;;
    /* t0, r0, b0, l0 */
    inset: 5px;
    border-radius: 50%;
    border: solid 1px var(--accent-color);

    opacity: 0;
    transition: all .4s;
}

.hero__img-button:hover::before {
    opacity: 1;
}