body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
    padding-top: 5vh;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
}

/* ====================================================== */

.title {
    position: relative;
}

.title::before,
.title::after {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: #fff 5px solid;
}

.title::before {
    top: 50%;
    left: -150px;
    background: rgb(225, 102, 102);
}

.title::after {
    background: rgb(85, 102, 177);
    top: 50%;
    transform: translateY(-50%);
    right: -150px;
}
