@font-face {
    font-family: 'Angel rhapsody';
    src: local('Angel rhapsody Regular'), local('Angelrhapsody-Regular'),
        url('../fonts/Angelrhapsody-Regular.woff2') format('woff2'),
        url('../fonts/Angelrhapsody-Regular.woff') format('woff'),
        url('../fonts/Angel-rhapsody.otf') format('otf'),
        url('../fonts/Angel-rhapsody.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: local('Satoshi Medium'), local('Satoshi-Medium'),
        url('../fonts/Satoshi-Medium.woff2') format('woff2'),
        url('../fonts/Satoshi-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: local('Satoshi Bold'), local('Satoshi-Bold'),
        url('../fonts/Satoshi-Bold.woff2') format('woff2'),
        url('../fonts/Satoshi-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


