html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vw;
}

.body {
    font-family: "Satoshi Variable", Arial, Helvetica, sans-serif;
    background: #12100C;
    color: #FFF4EB;
    font-size: 20px;
    letter-spacing: -0.02em;
    scrollbar-width: thin;
    zoom: 0.8;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}


.body--opened-menu,
.body--opened-contact {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    background: url(../img/bg/main-bg.png) 0% 0% / contain repeat;
}

.container {
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    font-family: "Angel rhapsody", Arial, sans-serif;
    font-size: 64px;
    color: #fff4eb;
}

/* ====================================================== */

.contact-form {
    position: fixed;
    inset: 0;
    z-index: 12;
    background: #000000cc;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.body--opened-contact .contact-form {
    opacity: 1;
    visibility: visible;
}

.contact-form__container {
    background-color: #1E1C17;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #00000033;
    max-width: 600px;
    width: 100%;
    overflow-y: auto;
    max-height: 100vh;

    position: relative;
}

.contact-form__title {
    font-family: "Angel rhapsody", Arial, sans-serif;
    margin-top: 0;
    color: #fff;
    text-align: center;
    font-size: 7vw;
}

.contact-form__close {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 15px;
    height: 15px;
    margin: 5px;
}

.contact-form__close svg {
    width: 100%;
    height: 100%;
}

.form-group {
    margin-bottom: 1rem;
}

.contact-form__label {
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #FFF4EB;
}

.contact-form__input,
.contact-form__textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

.contact-form__textarea {
    resize: vertical;
}

.submit-button {
    background-color: #DB9F6A;
    color: #483524;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #a07652;
}
