@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "footer.css";
@import "header.css";

:root {
    --accent-color: #DB9F6A;
    --transition: all .4s;
    --border-radius: 32px;
    --hover-color: #D98944;
}

/* ======================= */

.main__about {
    padding: 160px 0;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: var(--border-radius);
    max-height: 800px;
}

.about__desc {
    grid-row: 1 / -1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__inner span {
    display: block;
    grid-row: 2;
    grid-column: 2 / -2;
    background: url(../img/bg/about-mid-bg.png) 100% 47% / cover no-repeat;
    z-index: -1;
}

.about__desc {
    background: #1E1C17;
    border-radius: var(--border-radius);
}

.about__desc-title {
    margin-bottom: 27px;
    padding: 52px 52px 0 52px;
}

.about__desc-img-container {
    background: url("../img/bg/image-bg.png") 50% 50% / cover no-repeat;
    margin-top: 0px;
}


.about__desc-img {
    margin-bottom: -52px;
    height: 100%;
}

.about__desc-img img {
    width: 100%;
    height: 100%;
    max-height: 465px;
    object-fit: contain;
}

.about__tattoo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff4eb;
    border-radius: var(--border-radius);
    max-height: 368px;
    padding: 31px;
    margin: 0 32px;
}

.about__tattoo-top {
    margin: 0px 32px 10px 32px;
}

.about__tattoo-img {
    position: relative;
}

.about__tattoo-price {
    font-family: "Angel rhapsody", sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(90%);

    font-size: 32px;
    letter-spacing: 0.06em;
    text-align: right;
    color: #12100c;
}

.about__tattoo-bottom {
    align-self: end;
    grid-row: 3;
    margin: 10px 32px 0px 32px;
}

.about__action {
    display: grid;
    grid-template-columns: auto;
    grid-row: 1 / -1;
    grid-column: 3;
    background: #1E1C17;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.about__action-img {
    margin: 0;
    position: relative;
}

.about__action-img::before {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, #1e1c17 0, rgba(30, 28, 23, 0) 64%);
    transform: rotate(180deg);
    inset: -0.5px;
}

.about__action-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__action-desc {
    padding: 52px 52px 66px 52px;
}

.about__action-title {
    margin-bottom: 24px;
}

.about__action-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 24px;
}

.about__action-button {
    max-width: 255px;
}

.button {
    display: block;
    background: #db9f6a;
    border-radius: 12px;
    padding: 20px 32px;
    width: 100%;

    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #483524;
    text-transform: uppercase;

    transition: var(--transition);
}

.button:hover {
    background: var(--hover-color);
}

/* ======================================== */

.main__desc {
    padding-bottom: 160px;
}

.desc__heading {
    margin-bottom: 64px;
    text-align: center;
}

.desc__title-container {
    display: inline-block;
}

.desc__title {
    margin-bottom: 20px;
}

.desc__text {
    font-size: 24px;
}

.desc__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.desc__img-container {
    max-height: 380px;
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
}

.desc__img-container:hover .desc__img-text {
    top: 65%;
}

.desc__img {
    width: 100%;
}

.desc__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 100%;
}

.desc__img-text {
    font-family: "Angel rhapsody", Arial, sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 70%;
    background: rgba(42, 39, 34, 0.7);

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;

    transition: var(--transition);
}

/* ======================================== */


.main__awards {
    padding-bottom: 160px;
}

.awards__heading {
    text-align: center;
    margin-bottom: 64px;
}

.awards__title {
    font-family: "Angel rhapsody", Arial, sans-serif;
    font-size: 75px;

}

.awards__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 1vw;
}

.awards__team-img {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.awards__team-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.awards__team-desc {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.awards__team-desc>span {
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    margin: 15px 0;
}

.awards__desc-title {
    font-family: "Angel rhapsody", Arial, sans-serif;
    font-size: 6vw;
    text-align: left;
    margin-bottom: 20px;
}

.awards__desc-text {
    margin-bottom: 32px;
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.7);
}

.awards__desc-list {
    margin-bottom: 32px;
}

.awards__desc-item {
    list-style-type: disclosure-closed;
    margin-bottom: 15px;
    margin-left: 24px;
    font-size: 1.7vw;
}

.awards__desc-item:last-child {
    margin-bottom: 0;
}

.awards__desc-numbers {
    display: flex;
    align-items: baseline;
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    max-width: 450px;
    justify-content: space-between;
}

.awards__desc-numbers span {
    font-size: 5vw;
    display: inline-block;
    color: #fff;
}

.awards__button {
    margin-top: 32px;
    text-align: center;
}

/* ======================================== */

.main__testimonials {
    max-width: 1280px;
    padding-bottom: 160px;
    margin: 0 auto;
    padding: 0 15px 160px 15px;
    height: 100%;
    overflow: hidden;
}

.testimonials__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
}

.testimonials-prev,
.testimonials-next {
    transform: translateY(-60%);
}

.testimonials-prev {
    grid-row: 1 / -1;
    grid-column: 1;
}

.testimonials-next {
    grid-row: 3 / -3;
    grid-column: 3;
}

.testimonials__client-photos {
    max-width: 222px;
    transition: all 0.4s;
    margin: 0 24px;
    position: relative;
}

.testimonials__client-photos.active {
    transform: scale(1.5);
    z-index: 1;
}

.testimonials__slider,
.swiper {
    grid-column: 2;
    grid-row: 2;
    height: auto;
    width: 100%;
}

.testimonials__title {
    margin-bottom: 70px;
    text-align: center;
}

.testimonials__photos {
    margin-bottom: 66px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.testimonials__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.testimonials__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials__quote {
    border-radius: 32px;
    max-width: 1002px;
    background: #1e1c17;
    padding: 52px;
}

.testimonials__quote-title {
    display: block;
    font-family: "Angel Rhapsody", Arial, sans-serif;
    font-size: 32px;
    margin-bottom: 32px;
}

.testimonials__quote-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
}

.testimonials-prev,
.testimonials-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #db9f6a;
    cursor: pointer;
    transition: all 0.4s;
}

.testimonials-prev:hover,
.testimonials-next:hover {
    background: #a07652;
}

/* ========================================== */

.faq__container {
    max-width: 1017px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.faq__title {
    margin-bottom: 60px;
    text-align: center;
}

.accordion-list__item {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 32px;
}

.accordion-list__control {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 15px;
    background: transparent;
    width: 100%;
}

.accordion-list__control-title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 32px;
}

.accordion-list__control--active .accordion-list__control-plus {
    display: none;
}

.accordion-list__control--active .accordion-list__control-minus {
    display: flex;
}

.accordion-list__control-minus {
    display: none;
    transform: translateY(-100%);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-content {
    padding: 0px 35px 32px 24px;
    line-height: 1.5;
}

.accordion-content__item {
    list-style-type: decimal;
}

.accordion-content__item span {
    font-weight: 900;
}



/* ========================================== */
/* ========================================== */
/* ========================================== */

@media (hover: hover) {
    .button:hover {
        background: var(--hover-color);
    }

    .testimonials-prev:hover,
    .testimonials-next:hover {
        background: #a07652;
    }

    .desc__img-container:hover .desc__img-text {
        top: 65%;
    }

    .submit-button:hover {
        background-color: #a07652;
    }

    .nav__link-opened:hover {
        color: var(--accent-color);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #777;
    }

    .footer__link:hover {
        color: var(--accent-color);
    }

    .footer__bottom-legal-terms p:hover {
        color: var(--accent-color);
        cursor: pointer;
    }
}

@media (hover: none) {
    .button:active {
        background: var(--hover-color);
    }

    .testimonials-prev:active,
    .testimonials-next:active {
        background: #a07652;
    }

    .desc__img-container:active .desc__img-text {
        top: 65%;
    }

    .submit-button:active {
        background-color: var(--hover-color);
    }

    .nav__link-opened:active {
        color: var(--accent-color);
    }

    ::-webkit-scrollbar-thumb:active {
        background: #777;
    }

    .footer__link:active {
        color: var(--accent-color);
    }

    .footer__bottom-legal-terms p:active {
        color: var(--accent-color);
        cursor: pointer;
    }
}

@media (max-width: 1550px) {
    .title {
        font-size: 4vw;
    }

    .about__tattoo-top p {
        bottom: -30px;
        right: -40px;
        transform: none;
    }

    .about__tattoo-bottom p {
        bottom: 0;
        right: -20px;
        transform: none;
    }
}

@media (max-width: 1300px) {

    .hero__img-container {
        width: 60%;
    }

    .hero__price-container {
        bottom: 10vw;
        right: 1vw;
    }

    /* ------------ */

    .desc__img-container {
        max-height: 300px;
    }

    /* ------------ */

    .about__inner {
        grid-template-rows: repeat(2, 1fr);
    }

    .about__inner span {
        display: none;
    }

    .about__tattoo-bottom {
        grid-row: 2;
    }
}

@media (max-width: 1200px) {

    .header__top {
        height: 10vh;
    }

    .header__top img {
        width: 7vh;
    }

    .header__openned-nav {
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        gap: 8vw;
        z-index: 10;
        inset: 0;
        background: rgba(42, 39, 34, 0.99);
        font-size: 5vw;
        padding: 2vh 15px 30px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .body--opened-menu .header__openned-nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .nav {
        display: none;
    }

    .burger-icon {
        display: flex;
    }

    /* ------------ */

    .hero__content {
        padding-bottom: 5px;
    }

    /* ------------ */

    .awards__desc-numbers {
        max-width: 350px;
    }
}

@media (max-width: 1100px) {
    .hero__picture-arrow {
        display: none;
    }

    /* ---------------- */

    .footer__bottom-inner {
        flex-direction: column;
        gap: 15px;
    }

    .newsletter__inner {
        padding: 70px 75px 70px 75px;
    }

    /* ------------------ */

    .title {
        font-size: 6vw;
    }

    .about__inner {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        max-height: none;
        gap: 32px;
    }

    .about__desc {
        grid-column: 1;
        grid-row: 1;
    }

    .about__tattoo-top {
        grid-column: 1;
        grid-row: 2;
    }

    .about__action {
        grid-column: 2;
        grid-row: 1;
    }

    .about__tattoo-bottom {
        grid-column: 2;
        grid-row: 2;
    }

    .about__tattoo {
        max-height: none;
        margin: 0;
    }

}

@media (max-width: 900px) {
    .hero__img-container {
        display: none;
    }

    .hero__inner {
        justify-content: center;
        text-align: center;
        margin-top: 20vh;
    }

    .hero__content {
        padding-bottom: 80px;
    }

    .hero__schedule-info {
        justify-content: center;
    }

    /* -------------- */

    .testimonials__body {
        display: block;
    }

    .testimonials-prev,
    .testimonials-next {
        display: none;
    }

    /* ------------ */

    .newsletter__inner {
        padding: 70px 20px 70px 20px;
    }

    .footer__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (max-width: 800px) {

    .awards__inner {
        grid: none;
    }

    .awards__team-img {
        display: none;
    }

    .awards__team-desc {
        background: rgba(42, 39, 34, 0.4);
        padding: 5vw;
        border-radius: var(--border-radius);
    }

    .awards__desc-title {
        font-size: 12.1vw;
    }

    .awards__desc-text {
        font-size: 25px;
    }

    .awards__desc-item {
        font-size: 25px;
    }

    .awards__desc-numbers span {
        font-size: 7vw;
    }

    /* --------------- */

    .desc__img img {
        max-height: 50vw;
    }

    .desc__inner {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }

    /* ---------- */

    .testimonials__photos {
        padding: 0 40px;
        justify-content: left;
    }

    /* -------------- */

    .main__faq {
        padding-bottom: 160px;
    }

    /* ------------- */

    .newsletter {
        transform: none;
    }

    .newsletter__inner {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 40px 20px 40px 20px;
    }

    .newsletter-title {
        font-size: 9.3vw;
    }

    /* ----------- */

    .footer__inner {
        padding: 64px 0 64px 0;
    }
}

@media (max-width: 700px) {
    .logo {
        width: 9.6vw;
    }

    /* -------------- */

    .header__bottom-inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 22px 53px;
        margin: 0 auto;
        padding: 20px 0;
    }

    .header__bottom-inner svg {
        max-width: 124px;
        height: 32px;
    }

    .burger-icon {
        margin: 5px;
        width: 25px;
        height: 25px;
    }

    .burger-icon span::before {
        top: -10px;
    }

    .burger-icon span::after {
        bottom: -10px;
    }

    /* ----------- */
    .newsletter__input {
        max-width: none;
        position: inherit;
    }

    .newsletter__button {
        position: inherit;
        transform: none;
        margin-top: 12px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    /* ------------- */

    .title {
        font-size: 10.5vw;
    }

    .main__about {
        padding: 80px 0;
    }

    .main__faq {
        padding-bottom: 80px;
    }

    .about__inner {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .about__desc,
    .about__tattoo-top,
    .about__action,
    .about__tattoo-bottom {
        grid-column: 1;
        grid-row: auto;
    }

    .about__tattoo {
        height: 353px;
    }

    .about__tattoo-top p {
        bottom: -36px;
        right: -45px;
    }

    .about__tattoo-bottom p {
        right: -42px;
    }

    .about__action {
        grid-row: 3;
        /* Третий элемент */
    }

    /* --------------- */

    .desc__img-text {
        font-size: 6.1vw;
    }

    /* ------------ */

    .main__desc,
    .main__awards,
    .main__testimonials,
    .main__faq {
        padding-bottom: 80px;
    }

    /* ------------ */

    .testimonials__client-photos.active {
        margin-right: 40px;
    }

    .testimonials__client-photos {
        margin: 0 15px;
    }



    .testimonials__photos {
        justify-content: left;
    }

    /* ------- */

    .awards__desc-title {
        margin-bottom: 10px;
    }

    /* ------------- */

    .contact-form__title {
        font-size: 10vw;
    }
}

@media (max-width: 500px) {
    .header__openned-nav {
        flex-direction: column;
    }

    /* ------------ */

    .hero__inner {
        text-align: left;
        margin-top: 170px;
    }

    .hero__schedule-info {
        justify-content: flex-start;
    }

    .hero__title {
        font-size: 22vw;
    }

    /* ------------- */

    .hourglass-icon {
        display: block;
    }

    /* -------------- */

    .nav-opened {
        width: 170px;
    }

    /* ------------- */

    .desc__inner {
        gap: 15px;
    }

    .desc__heading {
        margin-bottom: 35px;
    }

    .desc__text {
        font-size: 20px;
    }

    /* ------------ */

    .awards__desc-text {
        font-size: 20px;
    }

    .awards__desc-item {
        font-size: 21px;
    }

    .awards__desc-numbers span {
        font-size: 10vw;
    }

    /* ------------ */

    .testimonials__title {
        margin-bottom: 32px;
    }

    .testimonials__photos {
        margin-bottom: 32px;
    }

    .testimonials__client-photos.active {
        transform: scale(1.2);
        z-index: 1;
        margin-right: 24px;
    }

    .testimonials__client-photos {
        transform: scale(.8);
        margin: 0 -5px;
    }

    .testimonials__quote {
        padding: 32px 24px;
    }

    /* ------------- */

    .accordion-list__control-title {
        font-size: 18px;
    }

    .accordion-list__control-title {
        margin-bottom: 24px;
    }

    .accordion-content {
        padding: 0px 0px 24px 24px;
    }

    /* ------------- */
    .newsletter-title {
        font-size: 40px;
    }

    .footer__inner {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr auto;
        justify-items: self-start;
        gap: 40px;
        padding: 32px 0 32px 0;
    }

    .footer__bottom-inner {
        gap: 40px;
        align-items: flex-start;
    }

    .footer__bottom-legal-terms {
        flex-direction: column;
        gap: 32px;
    }
}
