@font-face {
    font-family: 'Angel rhapsody';
    src: local('Angel rhapsody Regular'), local('Angelrhapsody-Regular'),
        url('Angelrhapsody-Regular.woff2') format('woff2'),
        url('Angelrhapsody-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Angel rhapsody';
    src: local('Angel rhapsody Regular'), local('Angelrhapsody-Regular'),
        url('Angelrhapsody-Regular.woff2') format('woff2'),
        url('Angelrhapsody-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Angel rhapsody';
    src: local('Angel rhapsody Regular'), local('Angelrhapsody-Regular'),
        url('Angelrhapsody-Regular.woff2') format('woff2'),
        url('Angelrhapsody-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

