:root {
    --general-text: #312c27;
    --accent-text: #1f1711;
    --general-bg: #fff9f4;
    --accent-bg: #ffe0cb;
    --accent-color: #FFA55C;
    --transition: all .4s;
    --border-radius: 20px;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    background: var(--general-bg);
    color: var(--general-text);
    line-height: 1.5;
}

.body--opened-menu,
.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #312c27;
    background: var(--accent-color);
    border-radius: 60px;
    padding: 3px 15px;
    height: 62px;

    transition: var(--transition);
}

.button:hover {
    background: #ff9138;
}

.modal {
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
}

.body--opened-modal .modal {
    visibility: visible;
    opacity: 1;
}
.modal {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: #00000071;
    padding: 10px 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}
.modal__window {
    position: relative;
    max-width: 428px;
    border-radius: var(--border-radius);
    background: var(--general-bg);
    padding: 60px;
}

.modal__inner {
}

.modal__img {
    padding-left: 12px;
    margin-top: -125px;
}

.modal__cancel {
    position: absolute;
    display: block;
    right: 20px;
    top: 20px;
}

.modal__cancel rect,
.modal__cancel path {
    transition: var(--transition);
}

.modal__cancel:hover rect,
.modal__cancel:hover path  {
    stroke: #ac907a;
}

.modal__title {
    font-family: "Gabriola", sans-serif;
    font-size: 42px;
    line-height: .9;
    margin-top: 15px;
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__email {
    position: relative;
    height: 62px;
}

.modal__email-input {
    width: 100%;
    border: 1px solid #ac907a;
    border-radius: 100px;
    padding: 19px 28px;
    transition: var(--transition);
    width: 100%;
    height: 100%;
}

.modal__email span {
    display: none;
    position: absolute;
    color: #ac907a;
    font-size: 11px;
    top: -14px;
    left: 28.5px;
}

.modal__email-input::placeholder {
    color: #ac907a;
    transition: var(--transition);
}

.modal__email-input:focus::placeholder {
    color: #312c27;
}

.modal__email-input:focus {
    padding: 26px 28px 12px;
}

.modal__email-input:hover,
.modal__email-input:focus {
    border-color: #ffa55c;
}

.modal__email-input:hover::placeholder {
    color: #ffa55c;
}

.modal__email-input:focus+span {
    display: block;
}

.modal__button {
    margin-top: 10px;
}
/* =================================== */

.header {
    background: url("/img/decor/header-bg.png") 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__link {
    position: relative;
    padding: 5px 0;
    display: block;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);

    opacity: 0;
    transition: var(--transition);
}

.nav__link:hover::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);
    z-index: -1;

    opacity: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    background: var(--general-text);
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

/* ===================================== */

.hero {
    padding: 50px 0 150px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    line-height: 1.6;
    text-transform: uppercase;
    color: #b197b2;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    display: block;
    background: #b197b2;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 0 10px;
}

.hero__info span:last-child:after {
    content: none;
}

.hero__title {
    font-family: "Gabriola", sans-serif;
    font-size: 74px;
    line-height: 0.82;
    color: #1f1711;
    margin-bottom: 30px;
}

.hero__text {
    margin-bottom: 40px;
    max-width: 360px;
}

.hero__button {
    max-width: 360px;
    width: 100%;
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    display: flex;
    position: absolute;
    align-items: center;
    gap: 10px;
    max-width: 205px;
    width: 100%;
    left: calc(100% - 39px);
    bottom: 11%;
    text-align: left;
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    border-radius: 50%;
    background: #ffe0cb;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.hero__img-button img {
    padding-left: 8.8%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    ;
    inset: 5px;
    border-radius: 50%;
    border: solid 1px var(--accent-color);

    opacity: 0;
    transition: var(--transition);
}

.hero__img-button:hover::before {
    opacity: 1;
}

/* ================================================ */

.main__inner {
    padding: 140px 0;
}

.info {}

.info__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr .5fr;
}

.info__img {
    grid-row: 1 / -1;
    position: relative;
    overflow: hidden;
    margin-right: 50px;
    max-width: 100%;
    border-radius: var(--border-radius);
}

.info__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.main__info-control {
    display: flex;
    position: absolute;
    background: #957b97e6;
    color: #fff9f4;
    align-items: center;
    padding: 15px 20px;
    border-radius: var(--border-radius);
    gap: 10px;
    max-width: 310px;
    width: 100%;
    left: 30px;
    bottom: 25px;
    text-align: left;
}

.main__info-button {
    border-radius: 50%;
    background: var(--general-bg);
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.main__info-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: solid 1px #CEAAD0;

    opacity: 0;
    transition: var(--transition);
}

.main__info-button:hover::before {
    opacity: 1;
}

.info__body {
    margin-bottom: 40px;
}

.info__title {
    font-family: "Gabriola", sans-serif;

    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-text);
}

.info__title-desc {
    margin-bottom: 30px;
}

.info__desc {}

.info__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.info__item {
    display: flex;
    align-items: center;
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    width: 100%;
    padding: 29px 24px;
    gap: 15px;
}

.info__item-img {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: solid 1px #312c27;
    border-radius: 50%;
}

.info__item-icon {
    max-width: 24px;
    width: 100%;
}

/* ==================================================== */

.footer {
    padding: 60px 0;
    background: #ab8261;
    color: var(--general-bg);
}

.footer__inner {
    display: grid;
    grid-template-columns: 1.1fr 1.1fr 1.3fr 0.9fr;
}

.footer__logo {
    display: block;
    max-width: 272px;
    margin-bottom: 20px;
    margin-top: -30px;
}

.footer__logo>img {
    max-width: 100%;
}

.socials {
    display: flex;
    gap: 15px;
}

.socials__link path {
    transition: var(--transition);
}

.socials__link:hover path {
    fill: var(--accent-color);
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__nav-link {
    position: relative;
    display: block;
    z-index: 1;
}

.footer__nav-link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);

    opacity: 0;
    transition: var(--transition);
}

.footer__nav-link:hover::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);
    z-index: -1;

    opacity: 1;
}

.footer__col-time {
    margin-bottom: 10px;
}

.footer__col-tel {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;

    transition: var(--transition);
}

.footer__col-tel:hover {
    color: var(--accent-color);
}

.footer__col-copy {
    margin-top: 47px;
    color: #dec5b1;

    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__col-copy path {
    fill: #dec5b1;
}



/* =================================================== */
@media (max-width: 1200px) {
    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    /* -------------- */

    .footer__inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__col-consul {
        grid-column: 1 / -1;
    }

}

@media (max-width: 1100px) {
    .info__body {
        align-self: center;
    }

    .info__img {
        grid-row: auto
    }

    .info__grid {
        grid-column: 1 / -1;
        margin-top: 40px;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: block;
        display: flex;
    }

    /* --------------------- */

    .footer__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        gap: 15px;
    }

    .footer__nav {
        display: none;
    }

    .footer__col-loc address {
        padding-top: 20px;
    }
}

@media (max-width: 800px) {
    .main__inner {
        padding: 20px;
    }
    /* ------------------- */
    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        justify-content: center;
        margin: 0 0 30px;
    }

    /* --------------- */

    .info {
        padding: 60px 0;
    }

    .info__inner {
        grid-template: none;
    }

    .info__body {
        text-align: center;
        margin-top: 40px;
    }

    .info__grid {
        grid-template: none;
        gap: 15px;
        margin: 0;
    }

    .info__img {
        max-width: 500px;
        justify-self: center;
        margin: 0;
    }

    .info__desc {
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    .hero {
        padding-bottom: 80px;
    }

    .hero__title {
        font-size: 12vw;
    }

    /* --------------- */

    .info__title {
        font-size: 12vw;
    }

    .info__grid {
        gap: 12px;
    }

    .info__grid-item {
        padding: 10px 15px;
    }

    .info__desc {
        margin-bottom: 0;
    }


    /* ------------------- */

    .footer__inner {
        grid-template-columns: auto;
        text-align: center;
    }

    .footer__col-logo {
        justify-content: center;
    }

    .footer__socials {
        justify-content: center;
    }

    .footer__nav {
        display: block;
        margin: 30px 0;
    }
}

@media (max-width: 450px) {
    .main__info-control {
        padding: 10px 15px;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: none;
        border-radius: 0;
    }

    /* --------------- */

    .modal__img {
        max-width: 50%;
        margin-top: -45px;
    }

    .modal__title {
        font-size: 33px;
    }

    .modal__window {
        padding: 0 20px 35px;
    }
}
