@import url("fonts.css");
@import url("reset.css");
@import url("global.css");
@import url("swiper-bundle.min.css");

@import url("header.css");
@import url("footer.css");

/* ================================================ */

.main__inner {
    display: flex;
    flex-direction: column;
    gap: 140px;
    padding: 140px 0;
}

.info__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr .5fr;
}

.info__img {
    grid-row: 1 / -1;
    position: relative;
    overflow: hidden;
    margin-right: 50px;
    max-width: 100%;
    border-radius: var(--border-radius);
}

.info__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.main__info-control {
    display: flex;
    position: absolute;
    background: #957b97e6;
    color: #fff9f4;
    align-items: center;
    padding: 15px 20px;
    border-radius: var(--border-radius);
    gap: 10px;
    max-width: 310px;
    width: 100%;
    left: 30px;
    bottom: 25px;
    text-align: left;
}

.main__info-button {
    border-radius: 50%;
    background: var(--general-bg);
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.main__info-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: solid 1px var(--accent-color-2);

    opacity: 0;
    transition: var(--transition);
}

.main__info-button:hover::before {
    opacity: 1;
}

.info__body {
    margin-bottom: 40px;
}

.info__title-desc {
    margin-bottom: 30px;
}

.info__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.info__item {
    display: flex;
    align-items: center;
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    width: 100%;
    padding: 29px 24px;
    gap: 15px;
}

.info__item-img {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: solid 1px #312c27;
    border-radius: 50%;
}

.info__item-icon {
    max-width: 24px;
    width: 100%;
}

/* ==================================================== */

.program__top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 40px;
    gap: 40px;
}

.program__title {
    margin-bottom: 20px;
}

.program__bottom {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.program__bottom-img img {
    width: 100%;
}

.program__bottom-grid {
    max-width: 501px;
    display: grid;
    gap: 40px;
    grid-template: repeat(3, auto) / 1.65fr 1fr;
}

.program__discount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background: #ffe0cb;
    border-radius: var(--border-radius);
    font-size: 20px;
    padding: 40px 81px 40px 40px;
    grid-row: 1 / 3;
}

.program__discount p {
    margin-top: 7px;
    font-size: 16px;
    line-height: 1.5;
    text-align-last: right;
    color: var(--general-text);
}

.program__discount span {
    font-family: "Gabriola", sans-serif;
    font-size: 74px;
    line-height: .82;
    text-align: center;
    color: var(--accent-color);
    margin-left: 19%;

    animation: discount-grow .81s linear infinite alternate;
}

@keyframes discount-grow {
    0% {
        transform: translateX(0%) scale(1);
        color: var(--accent-color);
    }

    100% {
        transform: translateX(10%) scale(1.1);
        color: #ff9138;
    }
}

.program__discount-price-big {
    align-self: flex-end
}

.program__discount-price-text {
    line-height: 160%;
    text-transform: uppercase;
    color: var(--accent-color-2);
}

.program__discount-price-value {
    font-family: "Gabriola", sans-serif;
    margin-top: 5px;
    font-size: 32px;
    line-height: .9;
    color: var(--general-text);
}

.program__discount-price-value--big {
    font-size: 50px;
    color: var(--accent-text);
}

.program__bottom-button {
    grid-column: 1 / -1;
    cursor: pointer;
}

.tab-content__program-bottom {
    margin-bottom: 40px;
}

.tab-control {
    display: flex;
    gap: 20px;
}

.tab-control__link {
    display: block;
    padding: 14px 30px;
    border-radius: 100px;
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
    transition: var(--transition);
}

.tab-control__link:hover {
    background: #ffe0cb;
}

.tab-control__link--active {
    background: #ffe0cb;
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: flex;
}

.accordion-list {
    width: 100%;
}

.accordion-list__item {
    border: 1px solid var(--accent-color);
    border-radius: 20px;

    margin-bottom: 30px;
}

.accordion-list__item:last-child {
    margin-bottom: 0;
}

.accordion-list__control {
    padding: 40px 30px;
    gap: 15px;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: top;
    font-size: inherit;
    background: transparent;

    font-family: "Gabriola", sans-serif;
    font-size: 42px;
    line-height: .9;
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}

.accordion-list__control-img {
    width: 36px;
    height: 36px;
    border: 1.50px solid var(--accent-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: var(--transition);
}

.accordion-list__control-img svg {
    margin-left: 2px;
}

.accordion-list__control-img path {
    transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-img {
    transform: rotate(90deg);
    background: var(--accent-color);
}

.accordion-list__control:hover .accordion-list__control-img path {
    fill: var(--general-bg);
}

.accordion-list__item--opened .accordion-list__control-img {
    transform: rotate(90deg);
    background: var(--accent-color);
}

.accordion-list__item--opened .accordion-list__control-img path {
    fill: var(--general-bg);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.content__inner {
    display: flex;
    padding: 0 30px 40px;
    gap: 80px;
}

.content__thery-title {
    text-transform: uppercase;
    color: var(--accent-color-2);
    margin-bottom: 20px;
}

.content__theory-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
    align-items: flex-start;
}

.content__theory-item:last-child {
    margin-bottom: 0;
}

.content__theory-img {
    width: 24px;
    height: 24px;
    border: 1px solid var(--accent-color-2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.content__practice {
    max-width: 633px;
    width: 100%;
}

.content__practice-title {
    text-transform: uppercase;
    color: var(--accent-color-2);
    margin-bottom: 20px;
}

.content__practice-text {
    max-width: 274px;
}

/* =================================================== */

.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 32px;
    margin-bottom: 40px;
}

.gallery__img img {
    width: 100%;
}

.gallery__body {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 30px 10px;
    width: 100%;
}

.gallery__desc {
    max-width: 380px;
}

.gallery__title {
    margin-bottom: 20px;
}

.gallery__swiper {
    display: flex;
    align-items: center;
    gap: 98px;
    font-family: "Gabriola", sans-serif;
    font-size: 42px;
    line-height: .9;
    text-align: center;
    color: #312c27;
    position: relative;
}

.gallery__swiper-prev,
.gallery__swiper-next {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1.50px solid var(--accent-color);
    border-radius: 100px;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    transition: var(--transition);
}

.swiper-button-disabled.gallery__swiper-prev,
.swiper-button-disabled.gallery__swiper-next {
    border: 1.50px solid #e1d9e1;
    cursor: auto;
}

.swiper-button-disabled.gallery__swiper-prev path,
.swiper-button-disabled.gallery__swiper-next path {
    fill: #e1d9e1;
}

.swiper-button-disabled.gallery__swiper-prev:hover,
.swiper-button-disabled.gallery__swiper-next:hover {
    background: transparent;
}

.swiper-button-disabled.gallery__swiper-prev:hover path,
.swiper-button-disabled.gallery__swiper-next:hover path {
    fill: #e1d9e1;
}

.gallery__swiper-prev path,
.gallery__swiper-next path {
    transition: var(--transition);
}

.gallery__swiper-prev:hover,
.gallery__swiper-next:hover {
    background: var(--accent-color);
}

.gallery__swiper-prev:hover path,
.gallery__swiper-next:hover path {
    fill: var(--general-bg);
}

.gallery__fraction {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    width: auto;
    transform: translate(-50%, -50%);
}

.gallery__slide {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.gallery__slide img {
    width: 100%;
}

/* ============================================= */

.testimonials__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 40px;
}

.testimonials__body {
    max-width: 632px;
}

.testimonials__title {
    margin-bottom: 20px;
}

.testimonials__swiper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.swiper-wrapper.testimonials__wrapper {
    margin-bottom: 59px;
}

.testimonials__slider {
    overflow: visible;
}

.testimonials__swiper-prev,
.testimonials__swiper-next {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1.50px solid var(--accent-color);
    border-radius: 100px;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    transition: var(--transition);
}

.swiper-button-disabled.testimonials__swiper-prev,
.swiper-button-disabled.testimonials__swiper-next {
    border: 1.50px solid #e1d9e1;
    cursor: auto;
}

.swiper-button-disabled.testimonials__swiper-prev path,
.swiper-button-disabled.testimonials__swiper-next path {
    fill: #e1d9e1;
}

.swiper-button-disabled.testimonials__swiper-prev:hover,
.swiper-button-disabled.testimonials__swiper-next:hover {
    background: transparent;
}

.swiper-button-disabled.testimonials__swiper-prev:hover path,
.swiper-button-disabled.testimonials__swiper-next:hover path {
    fill: #e1d9e1;
}

.testimonials__swiper-prev path,
.testimonials__swiper-next path {
    transition: var(--transition);
}

.testimonials__swiper-prev:hover,
.testimonials__swiper-next:hover {
    background: var(--accent-color);
}

.testimonials__swiper-prev:hover path,
.testimonials__swiper-next:hover path {
    fill: var(--general-bg);
}

.testimonials__slide {
    background: #ffe0cb;
    border-radius: var(--border-radius);
    padding: 30px 30px 40px;
    opacity: .5;
    transition: var(--transition);
}

.testimonials__slide.swiper-slide {
    transform: scale(0.9);
}

.swiper-slide-active.testimonials__slide {
    opacity: 1;
    transform: scale(1);
}


.testimonials__slide-inner {
    display: flex;
    gap: 30px;
}

.testimonials__slide-profile {
    text-align: center;
}

.testimonials__slide-img {
    width: 165px;
    height: 165px;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-bottom: 20px;
}

.testimonials__slide-img img {
    width: 100%;
    height: 100%;
    object-fit: 50% 50%;
}

.testimonials__slide-name {
    line-height: 160%;
    text-transform: uppercase;
    color: var(--accent-text);
    margin-bottom: 5px;
}

.testimonials__slide-inst {
    font-family: "Montserrat", sans-serif;
    color: var(--accent-color-2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.testimonials__slide-title {
    font-family: "Gabriola", sans-serif;
    font-size: 32px;
    line-height: .9;
    color: var(--accent-text);
    margin-bottom: 10px;
}

.testimonials__slide-text {
    font-size: 14px;
}

.testimonials-scrollbar.swiper-scrollbar {
    position: static;
    width: 100%;
    height: 7px;
}

.testimonials-scrollbar {
    background: var(--accent-bg);
}

.swiper-scrollbar-drag {
    background: var(--accent-color);
}

/* ========================================== */


.contact {
    padding: 140px 0;
    background: url("/img/decor/footer-bg.png") 50% 0% / cover no-repeat;
}

.contact__inner {
    display: flex;
    align-items: end;
    gap: 84px;
    position: relative;
}

.contact__inner::before {
    content: url("/img/decor/footer-blueberries.png");
    position: absolute;
    top: -4%;
    left: 0%;
}

.contact__inner::after {
    content: url("/img/decor/footer-blueberried-2.png");
    position: absolute;
    top: 4%;
    right: 0%;
}

.contact__img {
    position: relative;
}

.contact__img img {
    width: 100%;
    filter: drop-shadow(0 4px 30px rgba(198, 176, 161, 0.3));
}

.contact__body {
    max-width: 420px;
}

.contact__title {
    margin-bottom: 20px;
}

.contact__text {
    margin-bottom: 40px;
}

.contact__field {
    margin-bottom: 10px;
}

.contact__input {
    display: block;
    width: 100%;
    background: #00000000;
    border: 1px solid var(--input-color);
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: var(--transition);
}

.contact__input:hover {
    border-color: var(--accent-color);
}

.contact__input::placeholder {
    color: var(--input-color);
    transition: var(--transition);
}

.contact__input:hover::placeholder {
    color: var(--accent-color);
}

.contact__check-label {
    display: flex;
    align-items: start;
    gap: 5px;
    max-width: 288px;
    font-size: 13px;
    color: var(--accent-text);
    margin-bottom: 20px;
}

.contact__check-label a {
    text-decoration: underline;
    transition: var(--transition);
}

.contact__check-label a:hover {
    color: var(--accent-color);
}

.contact__checkbox {
    flex-shrink: 0;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid var(--input-color);
    border-radius: 4px;
    transition: var(--transition);
    cursor: pointer;
    position: relative;
}

.contact__checkbox::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: -1px;
    opacity: 0;
    background: url("../img/icons/check.svg") 50% 50% no-repeat;
    transition: var(--transition);
}

.contact__checkbox:hover {
    border: 2px solid var(--accent-color);
}

.contact__checkbox:checked {
    background: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.contact__checkbox:checked::before {
    opacity: 1;
}

/* ============================================= */

@media (max-width: 1200px) {
    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }
    /* ----------- */

    .contact__inner::after {
        top: -18%;
    }

    /* -------------- */

    .footer__inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__col-consul {
        grid-column: 1 / -1;
    }

}

@media (max-width: 1100px) {
    .info__body {
        align-self: center;
    }

    .info__img {
        grid-row: auto
    }

    .info__grid {
        grid-column: 1 / -1;
        margin-top: 40px;
    }

    /* ------------- */
    .program__top {
        flex-direction: column;
        align-items: start;
        margin-bottom: 40px;
    }

    .tab-control {
        flex-wrap: wrap;
    }

    .accordion-list__control {
        padding: 25px 30px;
        font-size: 35px;
    }

    .content__inner {
        gap: 30px;
    }

    /* -------------------- */
    .gallery__img {
        display: flex;
        align-items: center;
    }

    /* ------------------ */
    .contact__inner {
        align-items: center;
        gap: 30px;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: block;
        display: flex;
    }

    /* --------------------- */

    .program__bottom-grid {
        max-width: none;
        grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
    }

    .program__bottom-img {
        display: none;
    }

    /* ----------- */
    .contact__inner {
        justify-content: center;
    }

    .contact__img {
        display: none;
    }

    /* -------------- */

    .footer__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        gap: 15px;
    }

    .footer__nav {
        display: none;
    }

    .footer__col-loc address {
        padding-top: 20px;
    }

    /* -------------- */
    .gallery__inner {
        grid-template: none;
    }

    .gallery__img {
        display: none;
    }

    .gallery__desc {
        max-width: none;
    }

    /* ------------ */

    .testimonials-scrollbar.swiper-scrollbar {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    html {
        scroll-padding-top: 80px;
    }
    /* ------------------- */
    .main__inner {
        gap: 100px;
        padding: 80px 0;
    }

    /* ------------------- */
    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        justify-content: center;
        margin: 0 0 30px;
    }

    /* --------------- */


    .info__inner {
        grid-template: none;
    }

    .info__body {
        text-align: center;
        margin-top: 40px;
    }

    .info__grid {
        grid-template: none;
        gap: 15px;
        margin: 0;
    }

    .info__img {
        max-width: 500px;
        justify-self: center;
        margin: 0;
    }

    .info__desc {
        margin-bottom: 0;
    }

    /* ----------- */
    .tab-control {
        gap: 10px;
    }

    .tab-control__link {
        padding: 8px 20px;
    }

    .content__inner {
        flex-direction: column;
    }

    .content__theory,
    .content__practice {
        flex-direction: column;
    }

    .content__theory {
        max-width: none;
    }

    .content__practice-text {
        max-width: none;
    }

    /* ------------- */

    .testimonials__inner {
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 20px;
    }

    .gallery__swiper {
        align-self: end;
    }

    .testimonials__swiper {
        justify-content: end;
        margin-top: 20px;
    }
    /* ---------------- */
    
    .contact__inner::before {
        display: none;
    }
}

@media (max-width: 600px) {
    .hero {
        padding-bottom: 80px;
    }

    .title {
        font-size: 12vw;
    }

    /* --------------- */

    .info__grid {
        gap: 12px;
    }

    .info__grid-item {
        padding: 10px 15px;
    }

    .info__desc {
        margin-bottom: 0;
    }


    /* ------------------- */
    .program__title {
        text-align: center;
    }

    .program__top {
        text-align: center;
        align-items: center;
    }

    .accordion-list__item {
        margin-bottom: 10px;
    }

    .tab-control {
        justify-content: center;
    }

    .accordion-list__control {
        padding: 17px 30px;
        font-size: 28px;
    }

    .accordion-list__control-img {
        width: 26px;
        height: 26px;
    }

    .accordion-list__control-img img {
        width: 10px;
    }

    .program__bottom-grid {
        grid-template: repeat(3, auto) / repeat(2, auto);
    }

    .program__discount {
        grid-row: auto;
        grid-column: 1 / -1;
        justify-self: center;
    }

    .program__discount span {
        margin-top: 15px;
    }

    .program__discount-price-big {
        justify-content: start;
    }

    /* ------------------ */
    .gallery__inner {
        margin-bottom: 20px;
    }

    .testimonials__slide-inner {
        flex-direction: column;
        align-items: center;
    }

    .swiper-wrapper.testimonials__wrapper {
        margin-bottom: 20px;
    }

    /* ---------------------- */

    .footer__inner {
        grid-template-columns: auto;
        text-align: center;
    }

    .footer__col-logo {
        justify-content: center;
    }

    .footer__socials {
        justify-content: center;
    }

    .footer__nav {
        display: block;
        margin: 30px 0;
    }

    /* ---------------- */

    .testimonials__inner {
        margin-bottom: 20px;
    }

    .testimonials__slide {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    /* -------------- */
    .contact__title,
    .contact__text {
        text-align: center;
    }

    .contact {
        padding-bottom: 80px;
    }
}

@media (max-width: 450px) {
    .main__info-control {
        padding: 10px 15px;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: none;
        border-radius: 0;
    }

    /* --------------- */

    .modal__img {
        max-width: 50%;
        margin-top: -45px;
    }

    .modal__title {
        font-size: 33px;
    }

    .modal__window {
        padding: 0 20px 35px;
    }

    /* ------------- */

    .accordion-list__control {
        padding: 17px 15px;
    }

    .content__inner {
        padding: 0 15px 30px;
    }

    .content__theory-item {
        margin-bottom: 10px;
    }

    .program__bottom-grid {
        grid-template: none;
        gap: 15px;
    }

    .program__discount-price {
        text-align: center;
    }

    .program__discount {
        padding: 40px 45px 40px 40px;
    }

    /* ----------------- */

    .testimonials__slide {
        padding: 20px 10px 30px;
    }
}